AMQP_URI: 'pyamqp://guest:guest@localhost'
WEB_SERVER_ADDRESS: '0.0.0.0:8000'
YOWSUP_USERNAME: '49XXXX'
YOWSUP_PASSWORD: 'XXXX'
TOKEN_RESEND_MESSAGES: 'quiero_que_me_token'
ENDPOINT_RESEND_MESSAGES: 'http://localhost/loquesea'
rpc_exchange: 'nameko-rpc'
max_workers: 1
parent_calls_tracked: 10